@media screen and (min-width: 1024px){
    .feedback__title{
        line-height: 81px!important;
    }
}

.feedback{
    background-image: url("../../images/icons/feedback__bg.png");
    background-repeat: no-repeat;
    background-size: 75% 131%;
    background-position: right;
}

.feedback__item{
    max-width: 370px;
    height: 395px;
    &::before{
        position: absolute;
        top: 50px;
        width: 42px;
        height: 27px;
        background-image: url("../../images/icons/\'\'.svg");
        background-repeat: no-repeat;
        content: "";
    }
    &:nth-child(1){
        background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
        backdrop-filter: blur(5px);
    }
}

.feedback__title__wrapper{
    max-width: 470px;
}

.feedback__desc__wrapper{
    max-width: 450px;
}

.feedback__subwrapper__one{
    &::before{
        left: 0;
        width: 48px;
        height: 48px;
        background-image: url("../../images/icons/feedback__one.png");
        background-repeat: no-repeat;
        content: "";
    }
}

.feedback__subwrapper__two{
    &::before{
        left: 0;
        width: 48px;
        height: 48px;
        background-image: url("../../images/icons/feedback__two.png");
        background-repeat: no-repeat;
        content: "";
    }
}

.feedback__subwrapper__three{
    &::before{
        left: 0;
        width: 48px;
        height: 48px;
        background-image: url("../../images/icons/feedback__three.png");
        background-repeat: no-repeat;
        content: "";
    }
}